<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="File_Import_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="File_Import_Manager.My.MySettings.CATProductConnetionString"
            connectionString="Data Source=neptune;Initial Catalog=CATProduct;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <File_Import_Manager.My.MySettings>
            <setting name="DtexecPath" serializeAs="String">
                <value>"C:\Program Files (x86)\Microsoft SQL Server\140\DTS\Binn\DTExec.exe"</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>Neptune</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>c</value>
            </setting>
            <setting name="UsersEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="BeerBuyersEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="MailSMTPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="MailSub" serializeAs="String">
                <value />
            </setting>
            <setting name="MailBody" serializeAs="String">
                <value />
            </setting>
            <setting name="UsersEmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MailAttachment" serializeAs="String">
                <value />
            </setting>
        </File_Import_Manager.My.MySettings>
    </userSettings>
</configuration>